footer{
    margin-block: 10px 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 8pt;
}

footer a{
    text-decoration: none;
    color: inherit;
    transition: .1s;
}
footer a:hover{
    color: var(--link);
}