footer{
    padding: 10px 1% 5px 1%;
    height: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 3em;

    font-size: 8pt;
}

footer a{
    text-decoration: none;
    color: inherit;
    transition: .1s;
}
footer a:hover{
    color: var(--link);
}