:root{
    --fekete: #111;
    --feher: #eee;
    --kek: #395E66;
}
*{
    margin:0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    display: grid;
    grid-template-rows: 1fr fit-content(100%);
    font-family: 'Playpen Sans', cursive;
}


button{
    background-color: var(--kek);
    color: var(--feher);
}