:root{
    --fekete: #111;
    --feher: #fbffff;

    --kek: #729ea1;
    --rgb-kek: 114, 158, 161;

    --link: #C83E4D;
}
*{
    margin:0;
    padding: 0;

    font-family: 'Outfit', sans-serif;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;

    background-color: var(--feher);

    background-image: url(../assets/bg.gif);
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    background-blend-mode: multiply;
}




h1,h2,h3,h4{
    text-align: center;
}
h1{
    font-size: 32pt;
    text-align: center;
    line-height: 100%;
}
h2{
    font-size: 26pt;
}
h3{
    font-size: 20pt;
}




button{
    padding: 1em;

    font-size: 16pt;
    font-weight: 700;
    background-color: var(--kek);

    border:none;
    cursor:pointer;

    transition: .15s;
}
button:hover{
    background-color: var(--fekete);
    color: var(--feher);
}

button.material-symbols-outlined{
    padding: 0;
    background-color: transparent;
    color: var(--link);
}
button.material-symbols-outlined:hover{
    opacity: .7;
}



.form{
    padding: 1em;

    display: flex;
    gap: .5em;

    background-color: rgba(var(--rgb-kek), .3);
}
.form > div{
    display: grid;
    grid-template-areas:
    'label input1'
    ;
    gap: .5em;
}

.form > div:has(div:nth-child(3)){
    grid-template-areas:
    'label input1'
    'label input2'
    ;
    
}
.form > div:not(:has(div:nth-child(3))) input{
    align-self: center;
}

.form > div label{
    grid-area: label;
    align-self: center;
}


.form button{
    font-size: 12pt;
}