main{
    margin: 2% 5%;
    width: 90%;
    height: 100%;

    display: grid;
    grid-template-areas:
    'title candidates candidates'
    'title candidates candidates'
    'population population population'
    ;

    grid-template-columns: 5fr 3fr 3fr;
    grid-template-rows: 6fr 4fr 7fr;

    gap: 0 2em;
}
main section{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#title{
    grid-area: title;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: left;
}
#title h1, h4{
    width: 100%;
    text-align: left;
}
#title h4{
    margin-bottom: -.3em;
    font-weight: 500;
    opacity: .3;
}
#title p{
    margin-top: .25em;
}

#title button{
    margin-block: 2em;
    grid-area: vote;
    justify-self: center;
    
    height: min-content;
}
main > button:hover{
    padding:1.2em;
}

#parties{
    grid-area: parties;
}
#candidates{
    grid-area: candidates;
}


#population{
    grid-area: population;
}

#population .form{
    flex-direction: row;
    gap: 3em;
}
#population .list{
    margin-top: 1em;
    padding-bottom: .5em;
    width: 1200px;
    height: 128px;

    display: flex;
    gap: 2em;

    flex-wrap: nowrap;
    overflow-x: scroll;
}
#population .item{
    flex-direction: column;
    text-align: center;
    gap: .5em;
}
#population .item p{
    width: max-content;
}



section:not(#population) .list{
    margin:1em;
    padding-right: .5em;
    height: 300px;
    width: 600px;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: .5em;
}

.item{
    padding: .5em;

    display: flex;
    justify-content: space-between;

    background-color: rgba(var(--rgb-kek), .5);
}
.item p{
    margin-top: .1em;
}