main{
    margin: 2% 5%;
    width: 90%;
    height: 100%;

    display: grid;
    grid-template-areas:
    'parties title candidates'
    'parties vote candidates'
    'population population population'
    ;

    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 6fr 6fr 5fr;

    gap: 0 2em;
}
main section{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#title{
    grid-area: title;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}
main > button{
    grid-area: vote;
    justify-self: center;
    align-self: center;
    
    
    height: min-content;
}

#parties{
    grid-area: parties;
}
#candidates{
    grid-area: candidates;
}
#population{
    grid-area: population;
}



